{#  This file allows customizing the appearance of the Trac installation.

    Add your customizations to the the end of the HTML <head> here
    and rename the file to site_head.html.

    Note that it will take precedence over a global site_head.html placed
    in the directory specified by [inherit] templates_dir.

    More information about site appearance customization can be found here:

      https://trac.edgewall.org/wiki/TracInterfaceCustomization#SiteAppearance
#}

<meta name="charset" content="utf-8">
<meta name="author" content="骑着轮子的羊">
<meta name="description" content="这里是羊村，你可能走错了。但你既然已经来了，就请随便逛逛吧。这里可以有任何内容——这取决于村长的决定。通常，这些内容是二次元、计算机、Minecraft。">
<link rel="canonical" href="yangvillage.top">

